# ignore all .txt files
*.txt

# ignore all directories with these names
node_modules/
data/
app/tmp
app/prm/medSam/preprocessor_config.json
app/prm/medSam/prompt_encoder_mask_decoder_quantized.onnx
app/prm/medSam/vision_encoder_quantized.onnx
app/prm/mobileSam/mobile_sam_image_encoder.onnx
app/prm/mobileSam/sam_mask_decoder_multi.onnx
app/prm/mobileSam/sam_mask_decoder_single.onnx
app/prm/mobileSamInBrowser/mobilesam.decoder.onnx
app/prm/mobileSamInBrowser/mobilesam.decoder.quant.onnx
app/prm/mobileSamInBrowser/mobilesam.encoder.onnx
app/prm/slimSam77/model_quantized.onnx
app/prm/slimSam77/prompt_encoder_mask_decoder_quantized.onnx
app/prm/slimSam77/vision_encoder_quantized.onnx
